:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #242424;
  color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.view-select-btn {
display: flex;
justify-content: center;
margin-bottom: 1rem;
gap: 3rem;
}

.active {
  background-color: aquamarine;
  color: tomato;
  font-weight: bold;

}

header  {
  color: white;
  display: flex;
  justify-content:center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
header img {
  width:3rem;
  background-color: #f9f9f9;
  margin: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.typed-text {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: larger;
  background: linear-gradient(135deg, #ff6b6b, #3b5998);
}

.map-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leaflet-container {
  width: 90%;
  height: 80vh;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup button:hover{
  background-color: #ff6b6b;
  color: #242424;
}

.plane-detail-wrapper {
  position: fixed;
  top: 0;
  left: 1.7rem;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.plane-detail-inner {
  background-color:black;
  color: white;
  height: 90vh;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.1rem 0.5rem lightgray;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.plane-detail-inner img{
  padding: 0.5rem;
  border-radius: 0.7rem;
}

.plane-detail-inner p span{
color:red;
padding: 0rem 0.5rem;
}

.plane-detail-inner p a{
  text-decoration: double;
}

.plane-detail-inner h3{
  color: aquamarine;
  text-align: center;
}

.close-btn {
  background-color: #ff6b6b;
  display: flex;
  justify-content: end;
  padding: 0.1rem;
  border-radius: 0.5rem;
}

.close-btn img {
  width:2rem;
  height: auto;
  cursor: pointer;
}

.pln-img{
  border-radius: 0.5rem;
}

.loading{
  font-size: larger;
  color: #ff6b6b;
  text-align: center;
}

.dtl-header {
font-size: larger;
font-weight: bolder;
text-align: center;
color:#747bff
}